.MessageFrame{
  /* height: 90vh;
  width: 100%;
  overflow-y: scroll;
  padding: 0 20px; */
  /* border:1px solid red; */
}

.messageItemAttachment{
  max-width: 45%;
  height: auto;
}

.messageInput{
  width: 100%;
}

.attachment_cover{
  position: absolute;
  bottom: 45px;
  right:45px;
}

.remove-attachment{
  position: absolute;
  top: -10px;
  right: -15px;
  cursor: pointer;
}

.attachment-preview{
  max-width: 100px;
  height:auto;
}

.rightSidebarButton,
.leftSidebarButton{
  cursor: pointer;
  font-size: 100px !important;
}

.MessageFrameCover{
  height: 100vh;
}

.leftSearch{
  height: 5vh;
  padding-top: 15px;
}

.leftButtons{
  /* height: 3vh; */
  border-top:1px solid #000;
  padding-top: 15px;
  width: 100%;
}

.rightButtons {
  /* height: 3vh; */
  border-bottom: 1px solid #000;
  padding: 15px 0;
  width: 100%;
}

.messageItemTextCover p{
  padding: 0;
  margin: 0;
}

.messageItemTextCover p.messageHeadline {
  margin-top: -20px;
  margin-bottom: 10px;
}

.messageItemFrom span{
  background-color: #EFEFEF;
  color: #000000;
  padding: 7px 15px;
  max-width: 40%;
  display: inline-block;
  border-radius: 15px;
  text-align: left;
}

.messageItemTo span{
  background-color: #3F51B5;
  color: #ffffff;
  padding: 7px 15px;
  max-width: 40%;
  display: inline-block;
  border-radius: 15px;
  text-align: left;
}

.room-item{
  margin-bottom: 15px;
}

.right-sidebar {
  width: 100%;
}

.suggestionsList{
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  bottom: 60px;
  left: 0;
  z-index: 10;
  background-color: #fff;
  max-height: 200px;
  overflow-y: scroll;
}

.suggestionsList li{
  cursor: pointer;
  padding: 10px 20px;
  list-style-type: none;
  border-bottom:1px solid #ccc;
}

.suggestionsList li:last-child{
  border-bottom: 1px solid transparent;
}

.userInfoAvatar{
  margin:0 auto 15px auto;
}

.profile-input-item{
  margin-bottom: 15px !important;
}

.follow-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(80, 163, 162, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(80, 163, 162, 0.25);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(80, 163, 162, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(80, 163, 162, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

.singup-errors{
  padding: 0 8px;
  width: 100%;
}


.singup-success {
  padding: 0 8px;
  width: 100%;
}

.login-errors {
  width: 100%;
}

.msg{
  margin-bottom: 15px;
  width: 100%;
}

.roomsPreloader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.about-cover{
  margin-top:30px;
}

.about-links{
  display: block;
}